@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
body {
  font-family: "Montserrat", sans-serif !important;
}

.container__wrapper {
  max-width: 1240px;
  margin: auto;
  padding: 0 20px;
}
.blog__wrapper {
  background-color: #F5F5F5;
  padding-bottom: 8.1rem;
}
.blog__text__line {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}
.blog__text__line > div {
  border: 0.5px solid #eaeaea;
  height: 1px;
  margin-top: 2rem;
  background-color: #eaeaea;
  /* width: 60%; */
  width: 100%;
}
.blog__text {
  margin-top: 4rem;
  margin-bottom: 2rem;
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
}
.blog__paragraph {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #333333;
}

.blog__subtext {
  font-family: "Open Sans", sans-serif;
  -webkit-text-fill-color: transparent;
  color: #000;
  -webkit-text-stroke-width: 1px;
}
.blog__text__container {
  width: 97%;
}

.blog__button {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 7px;
  justify-content: center;
  padding: 9px 0;
  border: 2px solid #5bc8af;
  border-radius: 4px;
}

.blog__button > a {
  text-decoration: none;
  color: #5bc8af;
  font-weight: 700;
}

.box__wrapper {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 30% 68%;
  justify-content: space-between;
}

.box__item__wrapper {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #fff;
  background: #194d44;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.12);
  padding: 0 4rem;
}
.box__item__wrapper > div {
  padding-top: 2.5rem;
  padding-bottom: 1rem;
  align-items: baseline;
  display: flex;
  justify-content: space-between;
}
.box__wrapper > img {
  filter: drop-shadow(0px 10px 30px rgba(0, 0, 0, 0.12));
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 100%;
}

.carousel-control-prev span {
  padding-left: 1rem;
}
.carousel {
  /* border: 3px solid red; */
}
.carousel-indicators {
  transform: translateY(4rem);
}
.carousel-indicators > button {
  border-radius: 50%;
  background: #5bc8af !important;
  width: 15px !important;
  height: 2px !important;
}

/* @media screen and (max-width: 991px) { */
@media (max-width: 768px) {
  .blog__text__line {
    grid-template-columns: 60% 40%;
  }
  .blog__text__line > div {
    /* border: 4px solid red; */
  }
}

@media (max-width: 576px) {
  .box__wrapper {
    width: 100%;
    grid-template-columns: 1fr;
  }
  .box__wrapper > img {
    transform: translateY(12rem);
    padding-left: 2rem;
  }
  .box__item__wrapper{
    padding: 10rem 2rem;
  }
}
