@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif !important;
}

/* Navbar */
.navbar__home {
  /* border: 2px solid teal; */
  /* .mt-n1 */
}
.navbar__home a {
  padding-bottom: -2rem;
  color: #fff !important;
  /* border-bottom: 2px solid red; */
  font-weight: 700;
  font-size: 14px;
}

.navbar__about {
  margin-left: 1rem;
  color: rgba(255, 255, 255, 0.7) !important;
  font-size: 14px;
}

.navbar__contact {
  margin-right: 1.5rem;
  margin-left: 1rem;
  color: rgba(255, 255, 255, 0.7) !important;
  font-size: 14px;
}
.navbar__consult {
  margin-left: 1.5rem;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
}
.navbar__number {
  color: #5bc8af;
  font-weight: 600;
  font-size: 14px;
}

/* End of Navbar */

/* Hero section */
.hero__section {
  background: url("../assets/bg1.jpg");
  background-repeat: no-repeat;
  background-position: cover;
  max-height: 100%;
  /* border: 3px solid red; */
  padding-bottom: 7rem;
  /* width: 100%; */
}
.hero {
  display: grid;
  grid-template-columns: 50% 42%;
  justify-content: space-between;
}

.get__intervention {
  /* margin-top: 3rem; */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transform: translateY(-2rem);
}
.hero > div > h1 {
  font-size: 4rem;
  line-height: 72px;
  font-weight: 700;
  color: #fff;
}

.hero > div > h1 > span {
  -webkit-text-fill-color: transparent;
  color: #fff;
  -webkit-text-stroke-width: 1px;
}

.hero > div > p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  width: 98%;
  color: #fff;
}

/* Input section */

.form__section {
  background: linear-gradient(180deg, #2a7d6c 0%, rgba(62, 105, 96, 0.62) 100%);
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
  width: 100%;
  transform: translateY(3rem);
}
.contact__us {
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  color: #fff;
  padding-top: 3.2rem;
}
.form__grid {
  padding-top: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.form__group,
.form__groups {
  position: relative;
  width: 100%;
  height: 3rem;
}

.form__group:last-child {
  grid-column-start: 1;
  grid-column-end: 3;
}

.form__input,
.form__inputs {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 2px;
  font-family: inherit;
  font-size: inherit;
  color: white;
  outline: none;
  padding: 1.25rem;
  /* background: none; */
  background: rgba(255, 255, 255, 0.04);
}
.select__group {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 2px;
  background-color: inherit;
  color: rgba(255, 255, 255, 0.7);
  padding-left: 1rem;
}
.form__input:hover,
.form__inputs:hover,
.select__group:hover {
  border-color: #fff;
}

/* Change border when input focus*/

.form__input:focus,
.form__inputs:focus,
.select__group:focus {
  border-color: #fff;
}

.form__label {
  position: absolute;
  left: 1rem;
  top: 0.8rem;
  padding: 0 0.5rem;
  color: rgba(255, 255, 255, 0.7);
  cursor: text;
  transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
}

.form__input:focus ~ .form__label,
.form__input:not(:placeholder-shown).form__input:not(:focus) ~ .form__label {
  top: -0.5rem;
  font-size: 0.8rem;
  left: 0.8rem;
  color: #fff;
  background: #41857a;
}

.form__inputs:focus ~ .form__label,
.form__inputs:not(:placeholder-shown).form__input:not(:focus) ~ .form__label {
  top: -0.5rem;
  font-size: 0.8rem;
  left: 0.8rem;
  color: #fff;
  background-color: #589089;
}

.submit__button {
  margin-top: 3rem;
  padding-bottom: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.submit__button a {
  text-decoration: none;
  color: #fff;
  background: #5bc8af;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  padding: 1rem 3.5rem;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.94px;
}
.submit__button a:hover {
  color: #fff;
}
/* End of input */

/* End of Hero section */

.container__wrapper {
  max-width: 1240px;
  margin: auto;
  padding: 0 20px;
}
.blog__wrapper {
  padding-top: 4rem;
  background-color: #f5f5f5;
  padding-bottom: 8.1rem;
}
.blog__text__line {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}
.blog__text__line > div {
  border: 0.5px solid #eaeaea;
  height: 1px;
  margin-top: 2rem;
  background-color: #eaeaea;
  /* width: 60%; */
  width: 100%;
}
.blog__text {
  margin-top: 4rem;
  margin-bottom: 2rem;
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
}
.blog__paragraph,
.organize__paragraph {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #333333;
}

.blog__subtext,
.organize__subtext {
  font-family: "Open Sans", sans-serif;
  -webkit-text-fill-color: transparent;
  color: #000;
  -webkit-text-stroke-width: 1px;
}
.blog__text__container {
  width: 97%;
}

.blog__button {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 7px;
  justify-content: center;
  padding: 9px 0;
  border: 2px solid #5bc8af;
  border-radius: 4px;
}

.blog__button > a {
  text-decoration: none;
  color: #5bc8af;
  font-weight: 700;
}

.box__wrapper {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 30% 68%;
  justify-content: space-between;
}

.box__item__wrapper {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #fff;
  background: #194d44;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.12);
  padding: 0 4rem;
}
.box__item__wrapper > div {
  padding-top: 2.5rem;
  padding-bottom: 1rem;
  align-items: baseline;
  display: flex;
  justify-content: space-between;
}
.box__wrapper > img {
}
.carousel__image {
  height: 100%;
  filter: drop-shadow(0px 10px 30px rgba(0, 0, 0, 0.12));
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 3px solid red;
}

.carousel__image > img {
  object-fit: cover;
  border: 3px solid red;
}

.carousel-control-prev span {
  padding-left: 1rem;
}
.carousel {
  /* border: 3px solid red; */
}
.carousel-indicators {
  transform: translateY(4rem);
}
.carousel-indicators > button {
  border-radius: 50%;
  background: #5bc8af !important;
  width: 15px !important;
  height: 2px !important;
}

/* Organize */
.organize__text__line {
  display: grid;
  grid-template-columns: 60% 40%;
  align-items: center;
}
.organize__text__line > div {
  border: 0.5px solid #eaeaea;
  height: 1px;
  margin-top: 2rem;
  background-color: #eaeaea;
  /* width: 60%; */
  width: 100%;
}
.organize__text {
  margin-top: 4rem;
  margin-bottom: 2rem;
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
}

.organize__heading {
  font-size: 18px;
}

.organize__box {
  border: 2px solid #5bc8af;
  text-align: center;
  /* padding: 10px 0 10px 0; */
  border-radius: 4px;
  /* color: #fff; */
}
/* .organize__blocks {
  color: black;
  width: 80%;
  margin: auto;
  max-height: 80px;
  font-weight: 700;
  font-size: 18px; */
/* padding: 2rem 0 2rem 0 !important; */
/* } */
.organize__box:hover {
  color: #5bc8af;
}

/* .custom-tooltip {
  --bs-tooltip-bg: yellow;
} */

/* tooltips */
#tooltip {
  position: relative;
  cursor: pointer;
  padding: 7px;
  font-weight: bold;
}
#tooltipText {
  font-size: 14px;
  position: absolute;
  width: 90%;
  left: 50%;
  top: 0;
  font-weight: 400;
  transform: translateX(-50%);
  background-color: #297c6b;
  white-space: normal;
  color: #fff;
  padding: 5px 5px;
  border-radius: 7px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease;
}
#tooltipText::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  border: 15px solid;
  border-color: #000 #0000 #0000 #0000;
}
#tooltip:hover #tooltipText {
  top: -100%;
  visibility: visible;
  opacity: 1;
}

#tooltip__bottom {
  position: relative;
  cursor: pointer;
  padding: 7px;
  font-weight: bold;
}
#tooltipText__bottom {
  font-size: 14px;
  position: absolute;
  width: 90%;
  left: 50%;
  top: 0;
  font-weight: 400;
  transform: translateX(-50%);
  /* transform: rot; */
  background-color: #297c6b;
  white-space: normal;
  color: #fff;
  padding: 5px 5px;
  border-radius: 7px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease;
}
#tooltipText__bottom::before {
  content: "";
  position: absolute;
  left: 50%;
  top: -40%;
  transform: rotate(180deg) translateX(1rem);

  /* transform: translateX(-50%); */
  border: 15px solid;
  border-color: #000 #0000 #0000 #0000;
}
#tooltip__bottom:hover #tooltipText__bottom {
  top: 120%;
  visibility: visible;
  opacity: 1;
}

/* end of tooltips */

.organize__box > p {
  width: 80%;
  margin: auto;
  max-height: 80px;
  font-weight: 700;
  font-size: 18px;
  padding: 20px 0 20px 0;
}
.organize__icon {
  /* display: none; */
  /* padding: 20px 0 20px 0; */

  border: 3px solid red;
  /* color: red; */
}
.organize__icon:hover {
  /* border: 3px solid blue; */
  color: #5bc8af;
}

.tooltip-arrow,
.red-tooltip + .tooltip > .tooltip-inner {
  background-color: #f00;
}

.red-tooltip + .tooltip > .tooltip-inner {
  background-color: #f00;
}
.red-tooltip + .tooltip > .tooltip-arrow {
  border-bottom-color: #f00;
}
.video__section {
  margin-top: 100px;
  border: 3px solid red;
  background-color: lightblue;
}
.video__head {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.video__head > img {
  padding-bottom: 0.5rem;
}

.video__text {
  width: 70%;
  padding-left: 2.2rem;
}
.video__text:last-child {
  padding-bottom: 90px;
}
.footer {
  background: #eaeaea;
}
.footer__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #757575;
  margin: 1rem 0;
  padding: 1rem 0;
}
.footer__text__copy {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #757575;
  margin: 1rem 0;
  padding: 1rem 0;
  text-align: end;
}

@media (max-width: 992px) {
  /* Large screen size */

  .hero__section {
    /* background: url("../assets/bgMobile.png"); */
  }

  .hero {
    grid-template-columns: 1fr;
  }
  .hero > div > h1 {
    text-align: center;
  }
  .hero > div > p {
    width: 77%;
    margin: auto;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
  }
  .footer__text {
    margin: 2rem 0 0 0;
    padding: 0rem 0;
    text-align: center;
  }
  .footer__text__copy {
    margin: 10px 0 2rem 0;
    padding: 0rem 0;
    text-align: center;

  }
}
@media (max-width: 768px) {
  /* Medium screen size */

  .blog__text__line {
    grid-template-columns: 60% 40%;
  }
  .blog__text__line > div {
    /* border: 4px solid red; */
  }
  .organize__text__line {
    grid-template-columns: 90% 10%;
  }
}

@media (max-width: 576px) {
  /* Mobile screen size */

  .box__wrapper {
    width: 100%;
    grid-template-columns: 1fr;
  }
  .box__wrapper > img {
    transform: translateY(12rem);
    padding-left: 2rem;
  }
  .box__item__wrapper {
    padding: 10rem 2rem;
  }
  .form__grid {
    display: block;
  }
  .hero > div > h1 {
    font-size: 2.2rem;
    line-height: 44px;
    width: 90%;
    margin: auto;
  }
  .hero > div > p {
    width: 100%;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
  }
  .form__group,
  .form__groups {
    margin: 1rem 0;
  }
  .blog__images {
    display: none;
  }
}
